/* **************************/
/* GENERAL  SETTING */
/**************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 62.5%;
  line-height: 1;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 8rem 11.8rem;
}

.testimonials-section {
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-size: cover;
}

.testimonials-heading-box {
  row-gap: 2.8rem;
}

.heading {
  font-size: 3.6rem;
  font-weight: 700;
  color: #502050;
  letter-spacing: -2.5px;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.heading-text {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -1.2px;
  line-height: 1.6;
  color: #937b92;
}

.rating-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.8rem;
}

/**************************/
/* review-box */
/**************************/

.rating {
  background-color: rgb(245, 236, 245);
  padding: 1rem;
  border-radius: 11px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  gap: 2rem;
}
.stars {
  gap: 0.5rem;
  border: none;
  stroke: none;
  padding-left: 1rem;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  color: goldenrod;
}

.user-rating {
  font-size: 1.2rem;
  font-weight: 600;
  align-self: flex-end;
  color: #502050;
}

.reviews {
  width: 75%;
  align-self: flex-start;
}
.report {
  width: 75%;
  align-self: center;
}
.bestTech {
  width: 75%;
  align-self: flex-end;
}
/**************************/
/* USERS TESTIMONIALS  */
/**************************/

.customer-reviews-box {
  display: flex;
  gap: 2.4rem;
  grid-column: 1/-1;
  justify-self: start;
}

.review-box {
  background-color: #502050;
  border-radius: 11px;
  padding: 2.4rem;
  color: hsl(0, 0%, 100%);
}

.user-box {
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.user-heading {
  gap: 2rem;
}

.img {
  border-radius: 50%;
  width: 3rem;
}
/**************************/
/* GENERAL  STYLES */
/**************************/
.grid {
  display: grid;
}

.grid-2--col {
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
}
/*  
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-font-family:
Poppins
- Body 
Font size: 16px

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
### Primary
Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Accent
- Blue: hsl(248, 32%, 49%)

### Neutral
Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)
*/
